@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #EEF3FE;
  font-family: 'Noto Sans JP', sans-serif;
}

#root {
  height: 100%;
  overflow:auto; 
  top: 0;
  width: auto;
  margin: 0;
  padding: 0;
  position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* 
  RICH TEXT 
*/
.rich-text-ul {
  list-style: disc;
  margin-left: 1.5em;
}

.rich-text-ul .rich-text-ul {
  list-style: circle;
  margin-left: calc(1.5em + 1vw); /* Add 1vw for each level of nesting */
}

.rich-text-ol {
  list-style: decimal;
  margin-left: 1.5em;
}

.rich-text-ol .rich-text-ol {
  list-style: decimal;
  margin-left: calc(1.5em + 1vw); /* Add 1vw for each level of nesting */
}


/*
  ANIMATIONS
*/
.fade {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-visible {
  opacity: 1;
}

.fade-invisible {
  opacity: 0;
}

.fade-down-visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-down-invisible {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-up-visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-up-invisible {
  opacity: 0;
  transform: translateY(20px);
}

.fade-right-visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-right-invisible {
  opacity: 0;
  transform: translateX(40px);
}

.fade-left-visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-left-invisible {
  opacity: 0;
  transform: translateX(-40px);
}
